<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        div{
            display:flex;
            justify-content: space-between;
            align-items: center;
        }
    </style>
</head>
<body>
    <div>
        <h1>Edit User {{user.id}}</h1>
        <a href='/users'> Home </a>
    </div>
    <form action="/users/{{user.id}}/update" method="POST">
        <label for="fname">First Name:</label><br>
        <input type="text" value={{user.first_name}} name="fname">
        <br></br>
        <label for="lname">Last Name:</label><br>
        <input type="text" value={{user.last_name}} name="lname">
        <br></br>
        <label for="email" >Email:</label><br>
        <input type="text" value={{user.email}} name="email">
        <br></br>
        <input type="submit" value="Update">
    </form> 
</body>
</html>